/* Example breakpoints and responsive styles */

/*------------------------------------
sp menu
------------------------------------*/

/* SP用メニューボタン */

/* オーバーレイのスタイル */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* z-index: 999; */
  display: none;
}

/* メニューが開いた際のオーバーレイの表示 */
#nav-sp.open ~ #overlay {
  display: block;
}

#menu-sp {
  position: absolute;
  /* position: fixed; */
  top: 20px;
  right: 18px;
  z-index: 10;
  cursor: pointer;
}

#nav-sp {
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

#nav-sp.open {
  display: block;
  transform: translateX(0);
}

.nav-sp-header {
  display: flex;
  padding: 20px 16px;
  gap: 25%;
  align-items: center;
}

.nav-sp-list-inner {
  padding: 0 32px;
}

#close {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.nav-sp-list-inner h3 {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 16px;
}

.nav-sp-list-inner li {
  margin-bottom: 32px;
}

@media (min-width: 1041px) {
  #menu-sp {
    display: none;
  }

  #nav-sp {
    display: none;
  }
}

@media (max-width: 1040px) {
  .header-nav {
    display: none;
  }

  .footer-inner {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }

  .footer-logo {
    margin-bottom: 40px;
  }

  .footer-list {
    flex-direction: column;
  }

  .footer-list li {
    margin-bottom: 32px;
  }

  /*
  .header-logo {
    display: none;
  } */

}

/*-------------------------------
SP表示
-------------------------------*/

@media (max-width: 767px) {

/*-------------------------------
top.html
-------------------------------*/

  main {
    overflow: hidden;
  }

  /* ヘッダー */

  .logo-pc {
    display: none;
  }

  .logo-sp {
    display: block;
  }

  #header {
    width: 100%;
  }

  .header-logo {
    width: 240px;
    flex-shrink: 0;
    margin-left: 16px;
  }

  .logo-pc {
    display: none;
  }

  .logo-sp {
    display: block;
  }

  /* メインビジュアル */

  .top-text {
    font-size: 22.4px;
    z-index: 10;
    margin-right: 0;
  }


  .top-text::before {
    content: "";
    display: inline-block;
    width: 131px;
    height: 111px;
    background-image: url('images/top-sp/_x31_7\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 90px;
    left: 20px;
  }

  .top-text::after {
    content: "";
    display: inline-block;
    width: 122px;
    height: 111px;
    background-image: url('images/top/backgroundimage2.png');
    background-position: center;
    background-size: contain;
    position: relative;
    top: -120px;
    right: 30px;
    transform: rotate(-20deg);
  }

  .top-carousel {
    display: none;
  }

  .top-carousel-sp {
    display: block;
    width: 100%;
    height: 464px;
    position: relative;
  }


  .top-carousel-sp-item {
    width: 100%;
    height: 464px;
    position: relative;
    /* clip-path: ellipse(100% 115% at 100% 40%); */
  }

  .top-carousel-sp img {
    width: 100%;
    height: 464px;
    object-fit: cover;
  }

  .top-carousel-sp::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 464px;
    background-image: url("images/top-img-sp/_x31_3\ \(2\).png");
    background-size: cover;
    position: absolute;
    top: -120px;
    left: -25px;
    transform: rotate(2deg);
  }

  .progress-bar {
    width: 48px;
    height: 6px;
    background: #fff;
    position: absolute;
    bottom: 110px;
    right: 20px;
    border-radius: 4px;
    z-index: 1;
  }

  /* お知らせ */

  #information {
    flex-direction: column;
    width: 100%;
    margin: 18px 16px;
  }

  .info {
    width: 100%;
    display: block;
  }

  .news {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .business-hours {
    width: 100%;
    margin-bottom: 20px;
  }

  .info-list {
    text-align: right;
    margin-right: 23px;
  }

  /* パンくすリスト */

  .breadrum {
    width: 100%;
    height: 64px;
    align-items: center;
  }

  .page-map {
    display: flex;
    gap: 3px;
    margin-left: 5%;
    font-size: 14px;
  }

  /* コンセプト */

  .container {
    width: 100%;
    padding: 64px 5%;
    gap: 0;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .container-right {
    width: 100%;
    margin-bottom: 32px;
  }

  .concept-img {
    margin: 0;
  }

  .container-left {
    width: 100%;
  }


  #concept::before {
    content: "";
    display: inline-block;
    width: 285px;
    height: 72px;
    background-image: url('images/Title.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 700px;
    left: 0;
  }

  #concept::after {
    content: "";
    display: inline-block;
    width: 320px;
    height: 244px;
    background-image: url('images/BGicon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 24px;
    z-index: -1;
  }

  .concept-img {
    width: 100%;
    height: auto;
  }

  .c-btn {
    margin: 33px auto 0 auto;
    display: block;
  }

  /* コース・料金 */

  #course {
    padding-bottom: 59px;
  }

  .course img {
    margin-bottom: 32px;
  }

  .column {
    flex-direction: column;
  }

  .insurance ul {
    margin-bottom: 40px;
  }

  /* お客様の声 */

  #voice {
    width: 100%;
  }

  .voice-title {
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    z-index: 1;
  }

  .semicircle::before {
    content: "";
    display: inline-block;
    width: 309px;
    height: 70px;
    background-image: url('images/Subtract.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .bottom-carousel {
    display: none;
  }

  .bottom-carousel-sp {
    display: block;
  }

  .bottom-carousel-sp img {
    width: 100%;
  }

  .user {
    flex-direction: column;
    max-width: 100%;
    gap: 48px;
  }

  .user-box {
    width: 100%;
  }

  /* アクセス・営業時間 */

  .access {
    flex-direction: column;
  }

  .access-left {
    width: 100%;
    margin-bottom: 40px;
  }

  .access-right {
    width: 100%;
  }

  .contact {
    width: 76%;
  }

  /* フッター */

  .footer-inner {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }

  .footer-logo {
    margin-bottom: 40px;
  }

  .footer-list {
    flex-direction: column;
  }

  .footer-list li {
    margin-bottom: 32px;
  }

  /*-------------------------------
about.html
-------------------------------*/

  /* 共通 */

  .header-sp {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }

  /* 共通 */

  .main-visual {
    width: 100%;
  }

  .about-img {
    display: none;
  }

  .about-img-sp {
    display: block;
    width: 100%;
  }

  .about-img-sp img {
    width: 100%;
  }

  /* 共通 */
  #information {
    margin: 0 5%;
    width: 100%;
  }

  .information {
    margin: 0 5%;
    width: 100%;
    padding: 0 5%;
  }

  #home {
    margin-right: auto;

  }

  .flow {
    margin-top: 32px;
  }

  #flow::after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 72px;
    background-image: url('images/about/Title-flow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 440px;
    left: -24px;
  }

  .flow-left {
    margin-left: 5%;
  }

  .flow-right::after {
    content: "";
    display: inline-block;
    width: 320px;
    height: 244px;
    background-image: url('images/BGicon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -26px;
    z-index: -1;
  }

  /* point */

  .point-title {
    width: 100%;
    justify-content: center;
    padding: 0 5%;
  }

  .title-header {
    font-size: 18px;
    width: 100%;
  }

  .title-header span img {
    width: 14px;
    height: 16px;
  }

  .title-text {
    font-size: 18px;
    margin-bottom: 32px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .user-box {
    margin-bottom: 48px;
  }

  .point {
    flex-direction: column;
    margin: 0 5% 0 5%;
  }

  .point-img {
    width: 100%;
  }

  .point-content {
    font-size: 18px;
    font-weight: bold;
  }

  /*-------------------------------
course.html
-------------------------------*/

  #price {
    width: 100%;
  }

  .price-container {
    flex-direction: column;
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
  }

  .insurance {
    width: 100%;
  }

  .insurance img {
    width: 100%;
  }

  #insurance {
    width: 100%;
  }

  .insurance-item {
    padding: 0 5%;
  }

  .pc-only {
    display: none;
  }

  .insurance-img {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
  }

  .insurance-img img {
    width: 100%;
  }

  /*-------------------------------
information.html
-------------------------------*/

  .topic-container {
    flex-direction: column;
    gap: 0;
  }

  .topic-left {
    width: 100%;
    padding: 40px 5% 0;
  }

  .topic-item {
    flex-direction: column;
    margin-bottom: 32px;
    gap: 0;
  }

  .topic-img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .topic-content {
    width: 100%;
    margin-bottom: 0;
  }

  .topic-content h3 {
    width: 100%;
    font-size: 18px;
  }

  .topic-right {
    padding: 0 5%;
  }

  /*-------------------------------
voice.html
-------------------------------*/

  .voice-list-inner {
    width: 100%;
    margin-left: 0;
  }

  .voice-list-item {
    flex-direction: column;
    width: 100%;
    margin-bottom: 48px;
  }

  .voice-list-inner-left {
    width: 100%;
    padding: 0 5%;
  }

  .voice-list-img {
    width: 215px;
    margin: 0 auto;
  }

  .user-name {
    text-align: center;
  }

  .user-coment {
    word-break: auto-phrase;
  }

  .voice-list-inner-right {
    width: 100%;
    padding: 0 5%;
  }

  /*-------------------------------
contact.html
-------------------------------*/

  #contact {
    width: 100%;
  }

  .contact-inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
  }

  /*-------------------------------
contact-thanks.html
-------------------------------*/

  #contact-thanks {
    padding: 0 5%;
  }

  .contact-thanks-inner {
    width: 100%;
    padding: 16px;
    margin: 32px auto 64px auto;
  }

  .thanks-text {
    word-break: auto-phrase;
  }

}
