@charset "utf-8";

/*----------------------------
Common
-----------------------------*/

img {
  max-width: 100%;
}

h1 {
  font-size: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#page-top {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 10;
}

/*----------------------------
Header
-----------------------------*/

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  z-index: 10;
  padding: 0 32px;
}

.header-logo {
  width: 240px;
  flex-shrink: 0;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  font-size: 14px;
  margin-left: 40px;
  color: white;
  white-space: nowrap;
}

.nav-btn {
  padding: 12.5px 16px;
  background-color: #468459;
  border-radius: 5%;
}


/*----------------------------
Main Visual
-----------------------------*/

.main-visual {
  display: flex;
  margin-bottom: 18px;
}

.top-text {
  display: flex;
  width: 20%;
  writing-mode: vertical-rl;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #468459;
  letter-spacing: 15px;
  font-family: "Shippori Mincho";
}

.top-text::before {
  content: "";
  display: inline-block;
  width: 146px;
  height: 133px;
  background-image: url('images/backgroundimage3.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: 95px;
  left: 20px;
}

.top-text::after {
  content: "";
  display: inline-block;
  width: 122px;
  height: 111px;
  background-image: url('images/backgroundimage2.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: -120px;
  right: 30px;
  transform: rotate(-20deg);
}

.line {
  position: relative;
  display: inline-block;
  padding-right: 2px;
  margin-right: 4px;
}

.line::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(#468459 50%, transparent 50%);
  background-size: 60px 20px;
  background-repeat: repeat-y;
  transform: translateY(-50%);
}

.top-carousel {
  width: 80%;
  position: relative;
}

.top-carousel img {
  min-height: 584px;
  /* object-fit: cover; */
}

/* .top-carousel::before {
  content: "";
  display: inline-block;
  width: 719px;
  height: 616px;
  background-color: red;
  background-image: url("images/_x31_3.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -184px;
  left: 268px;
} */

/*----------------------------
 Information
-----------------------------*/

#information {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-end;
  margin-bottom: 120px;
}

.news {
  display: flex;
  align-items: flex-end;
}

.news-item {
  margin-left: 20px;
  font-size: 14px;
}

.news-title {
  font-size: 24px;
  color: #468459;
}

.news-btn {
  background-color: #468459;
  color: #fff;
  padding: 4px 12px;
}

/*----------------------------
Concept
-----------------------------*/

#concept {
  margin-bottom: 151px;
  position: relative;
}

#concept h3::before {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/Title.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 90px;
  left: 130px;
}

.container {
  max-width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.container-left {
  width: 40%;
}

.container-left h2 {
  color: #468459;
}

.container-left h3 {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 38px;
  color: #468459;
  line-height: 1.6;
}

.container-left p {
  margin-bottom: 16px;
}

.btn {
  width: 154.25px;
  font-size: 14px;
  text-align: center;
  padding: 5.5px 0;
  border: 1px solid #000;
  border-radius: 5px;
}

.container-right {
  width: 50%;
  position: relative;
}

#concept::after {
  content: "";
  display: inline-block;
  width: 440px;
  height: 336px;
  background-image: url('images/BGicon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  /* background: pink; */
  right: 0;
  bottom: -100px;
  z-index: 1;
}

.frame-3 {
  width: 146px;
  height: 146px;
  position: absolute;
  top: 61px;
  right: 65px;
  z-index: 10;
}

.frame-2 {
  width: 291px;
  height: 371px;
  position: absolute;
  top: 118px;
  right: 109px;
}

.frame-1 {
  width: 146px;
  position: absolute;
  top: 379px;
  right: 30px;
}

/*----------------------------
Corse
-----------------------------*/

#corse {
  padding-bottom: 167px;
  background: #f0f5e1;
  position: relative;
  z-index: -2;
}

#corse::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 140px;
  background-image: url('images/Frame\ 2564.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#corse::after {
  content: "";
  display: inline-block;
  width: 440px;
  height: 336px;
  background-image: url('images/BGicon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  /* background: pink; */
  right: 0;
  bottom: 10px;
  z-index: 1;
}

.title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
  color: #468459;
}

.title span {
  padding: 0 18px;
}

.title-header {
  margin-bottom: 20px;
}

.corse-img {
  border-radius: 15px;
  margin-bottom: 32px;
}

.insurance::before {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/Title\ \(2\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 225px;
  left: 115px;
  z-index: -1;
}

.insurance h4,
.self h4 {
  font-size: 24px;
  margin-bottom: 24px;
  color: #0c4324;
}

.insurance li,
.self li {
  font-size: 18px;
  margin-bottom: 14px;
  margin-left: 18px;
}

.self {
  margin-bottom: 32px;
}

.btn {
  margin: 0 auto;
}



/*----------------------------
Voice
-----------------------------*/

#voice {
  margin-bottom: 140px;
}

/* .semicircle::before {
  content: "";
  display: inline-block;
  width: 515;
  height: 119px;
  background-image: url('images/Subtract.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -119px;
  z-index: 100;
} */

.semicircle {
  background: #fff;
  width        : 515px;
  height       : 119px;
  background   : linear-gradient(to bottom);
  border-radius: 50%/85% 85% 5% 5%;
  transform    : rotate(0deg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -70px;
}


.user {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 48px;
}

.user-box {
  max-width: 18%;
}

.user-box h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.user-box p {
  font-size: 18px;
}

.circle {
  border-radius: 50%;
  margin-bottom: 32px;
}

/*----------------------------
Access
-----------------------------*/

#access {
  background: #f0f5e1;
}

#access::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 140px;
  background-color: red;
  background-image: url('images/Frame\ 2564.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.access {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  gap: 5%;
}

.access-left,
.access-right {
  width: 50%;
}


.access-left h2 {
  font-size: 24px;
  color: #468459;
  margin-bottom: 16px;
}

.access-left ul {
  margin-bottom: 16px;
}

.tel span {
  font-size: 14px;
}

table {
  border: 1px solid #dddddd;
  margin-bottom: 32px;
}

table th {
  font-size: 14px;
  font-weight: normal;
  padding: 8px 16px;
  background: #468459;
  color: #fff;
}

table td {
  font-size: 14px;
  text-align: center;
  padding: 8px 16px;
  color: #468459;
}

.evening {
  background: #f5f5f5;
}

.contact {
  padding: 14px 22px;
  background: #468459;
  color: #fff;
  font-size: 16px;
}

/*----------------------------
Footer
-----------------------------*/

#footer {
  background: #f0f5e1;
}

.footer-inner {
  display: flex;
  max-width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

/* .footer-logo {
  margin-right: 45px;
} */

.footer-list li {
  margin-right: 40px;
}

.copyright {
  height: 40px;
  background: #468459;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 11px 0;
}



/*----------------------------
 About.html
-----------------------------*/

/* Main visual */

.about-title {
  width: 20%;
  height: auto;
  text-align: center;
}

.about-title p {
  align-items: center;
}
