@charset "utf-8";

/*----------------------------
Common
-----------------------------*/

img {
  max-width: 100%;
}

h1 {
  font-size: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#page-top {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 10;
}

.btn {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding: 3px 24px;
  border: 1px solid #000;
  border-radius: 5px;
}


.section-title {
  text-align: center;
  margin: 0 auto;
  color: #468459;
  width: 400px;
}

.section-title span {
  padding: 0 18px;
}

.title-header {
  margin-bottom: 20px;
}

/*----------------------------
Header
-----------------------------*/

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  z-index: 10;
  /* padding: 0 32px; */
}

.header-logo {
  width: 240px;
  flex-shrink: 0;
  margin-left: 32px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.nav-list li {
  font-size: 14px;
  margin-left: 40px;
  color: white;
  white-space: nowrap;
}

.nav-btn {
  display: flex;
  align-items: center;
  padding: 2px 16px;
  background-color: #0c4324;
  border-radius: 4px;
  width: 172px;
  height: 44px;
  font-size: 14px;
  color: #fff;
}


/*----------------------------
Main Visual
-----------------------------*/

.main-visual {
  display: flex;
  margin-bottom: 18px;
  position: relative;
}

.top-text {
  display: flex;
  width: 20%;
  writing-mode: vertical-rl;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #468459;
  letter-spacing: 15px;
  font-family: "Shippori Mincho";
}

.top-text::before {
  content: "";
  display: inline-block;
  width: 146px;
  height: 133px;
  background-image: url('images/top/backgroundimage3.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: 95px;
  left: 20px;
}

.top-text::after {
  content: "";
  display: inline-block;
  width: 122px;
  height: 111px;
  background-image: url('images/top/backgroundimage2.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: -120px;
  right: 30px;
  transform: rotate(-20deg);
}

.line {
  position: relative;
  display: inline-block;
  padding-right: 2px;
  margin-right: 4px;
}

.line::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(#468459 50%, transparent 50%);
  background-size: 60px 20px;
  background-repeat: repeat-y;
  transform: translateY(-50%);
}

.top-carousel {
  width: 80%;
  position: relative;
}

.top-carousel img {
  min-height: 584px;
}

.top-carousel::before {
  content: "";
  display: inline-block;
  width: 719px;
  height: 580px;
  background-image: url("images/top/_x31_3.png");
  /* background-position: center; */
  background-size: cover;
  position: absolute;
  top: 0;
  left: -32px;
  z-index: -1;
}

/*----------------------------
 Information
-----------------------------*/

#information {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-end;
}

.info {
  display: flex;
  align-items: flex-end;
}

.news {
  display: flex;
  margin-right: 45px;
  align-items: flex-end;
  white-space: nowrap;
}

.news-title {
  font-size: 24px;
  font-weight: bold;
  color: #468459;
  margin-right: 10px;
  line-height: 1;
  vertical-align: bottom;
}

.news-item {
  line-height: 1;
  font-size: 14px;
  color: #468459;
  vertical-align: bottom;
}

.business-hours {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  font-size: 14px;
}

.date {
  line-height: 1;
  font-size: 14px;
  margin-right: 16px;
  vertical-align: bottom;
}

.date-btn {
  background-color: #468459;
  color: #fff;
  border-radius: 4px;
  padding: 4px 12px;
  line-height: 1;
  font-size: 14px;
  vertical-align: bottom;
}

.info-list {
  font-size: 14px;
  line-height: 1;
  vertical-align: bottom;
}

/*----------------------------
Concept
-----------------------------*/

#concept {
  position: relative;
}

#concept h3::before {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/Title.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 225px;
  left: 145px;
}

.container {
  max-width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 120px 0;
}

.container-left {
  width: 45%;
}

.container-left h2 {
  color: #468459;
  font-size: 24px;
}

.ja {
  font-weight: normal;
}

.container-left h3 {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 38px;
  color: #468459;
  line-height: 1.6;
}

.container-left p {
  margin-bottom: 16px;
}

.c-btn {
  width: 154.25px;
  height: 32px;
  margin-left: 149px;
  margin-top: 24px;
}

.container-right {
  width: 50%;
  position: relative;
}

.concept-img {
  width: 400px;
  height: 507px;
  margin: 61px 0;
}

#concept::after {
  content: "";
  display: inline-block;
  width: 440px;
  height: 336px;
  background-image: url('images/BGicon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 24px;
  z-index: -1;
}

/*----------------------------
Corse
-----------------------------*/

#corse {
  padding-bottom: 167px;
  background: #f0f5e1;
  position: relative;
  z-index: -2;
}

#corse::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 140px;
  background-image: url('images/Frame\ 2564.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#corse::after {
  content: "";
  display: inline-block;
  width: 440px;
  height: 336px;
  background-image: url('images/BGicon\ \(2\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: -1;
}

.corse-img {
  border-radius: 15px;
  margin-bottom: 32px;
}

.corse-btn {
  text-align: center;
}

.insurance::before {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/Title\ \(2\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 225px;
  left: 115px;
  z-index: -1;
}

.insurance h4,
.self h4 {
  font-size: 24px;
  margin-bottom: 24px;
  color: #0c4324;
}

.insurance li,
.self li {
  font-size: 18px;
  margin-bottom: 14px;
  margin-left: 18px;
}

.self {
  margin-bottom: 32px;
}

/*----------------------------
Voice
-----------------------------*/

#voice {
  position: relative;
}

.semicircle {
  position: relative;
}

.semicircle::before {
  content: "";
  display: inline-block;
  width: 515px;
  height: 119px;
  background-image: url('images/Subtract.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -119px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.voice-title {
  position: absolute;
  left: 50%;
  top: 265px;
  transform: translateX(-50%);
  z-index: 1;
}

.user {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 140px;
  margin-bottom: 48px;
}

.user-box {
  max-width: 18%;
}

.user-box h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.user-box p {
  font-size: 18px;
}

.circle {
  border-radius: 50%;
  margin-bottom: 32px;
}

.voice-btn {
  text-align: center;
}

/*----------------------------
Access
-----------------------------*/

#access {
  background: #f0f5e1;
}

#access::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 140px;
  background-color: red;
  background-image: url('images/Frame\ 2564.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.access {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  gap: 5%;
}

.access-left,
.access-right {
  width: 50%;
}

.access iframe {
  width: 100%;
}


.access-left h2 {
  font-size: 24px;
  color: #468459;
  margin-bottom: 16px;
}

.access-left ul {
  margin-bottom: 16px;
}

.tel span {
  font-size: 14px;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 24px;
}

/* .table-wrap {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
} */

.opening-hours {
  width: auto;
  border-collapse: collapse;
  white-space: nowrap;
  border: 1px solid #dddddd;
  margin-bottom: 32px;
}

table th {
  font-size: 14px;
  font-weight: normal;
  padding: 8px 16px;
  background: #468459;
  color: #fff;
  border: 1px solid #dddddd;
}

table td {
  font-size: 14px;
  text-align: center;
  padding: 8px 16px;
  color: #468459;
  border: 1px solid #dddddd;

}

.evening {
  background: #f5f5f5;
}

.contact {
  padding: 14px 22px;
  background: #468459;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}

/*----------------------------
Footer
-----------------------------*/

#footer {
  background: #f0f5e1;
}

.footer-logo {
  width: 240px;
  flex-shrink: 0;
  margin-right: 47px;
}

.footer-inner {
  display: flex;
  max-width: 75%;
  height: 36px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  height: 36px;
  align-items: center;
}

.footer-list li {
  margin-right: 40px;
  white-space: nowrap;
  line-height: 1;
  vertical-align: baseline;
}

.copyright {
  height: 40px;
  background: #468459;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 11px 0;
}



/*----------------------------
 他のページ
-----------------------------*/

/* Main visual */

.about-title {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title h3 {
  font-size: 32px;
  color: #468459;
}

.about-title h3::before {
  content: "";
  display: inline-block;
  width: 146px;
  height: 133px;
  background-image: url('images/about/_x31_7.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: 120px;
  left: -10px;
  z-index: -1;
}

.about-title p {
  font-size: 18px;
  color: #468459;
}

.about-img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.about-img::before {
  content: "";
  display: contents;
  width: 719px;
  height: 467px;
  background-image: url("images/about/_x31_3\ \(1\).png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


#home {
  display: flex;
  height: 64px;
  align-items: center;
  margin-left: 58px;
}

.home {
  font-size: 14px;
}

.home span {
  padding: 0 9px;
}



/* flow */

#flow {
  position: relative;
}

#flow::after {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/about/Title-flow.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 201px;
  left: 125px;
}

.flow {
  margin-top: 108px;
}

.flow li {
  margin-bottom: 22px;
}

.flow-right::after {
  content: "";
  display: inline-block;
  width: 426px;
  height: 319px;
  background-image: url('images/BGicon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -180px;
  bottom: -26px;
  z-index: -1;
}

/* Point */

.point-title {
  width: 680px;
}

.point {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 64px;
  margin-bottom: 15px;
}


.point-img {
  border-radius: 16px;
}

.point-content {
  font-size: 24px;
  text-align: center;
}

/* Price */

#price {
  position: relative;
  z-index: -2;
  background: #fafafa;
}

.price-title {
  padding: 62px 0;
}


.price-container {
  max-width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.insurance-title {
  margin-bottom: 32px;
}

.insurance-content {
  margin-bottom: 32px;
}

.insurance-content li {
  margin-bottom: 17px;
}

.insurance-img {
  width: 520px;
  height: 320px;
}

/* Topic */

.topic-container {
  max-width: 976px;
  display: flex;
  gap: 32px;
  margin: 0 auto;
}

.topic-left {
  width: 752px;
}

.topic-item {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

.topic-img {
  width: 320px;
  height: 200px;
}

.topic-img img {
  border-radius: 8px;
}

.topic-content {
  width: 368px;
  margin-bottom: 24px;
}

.topic-content h3 {
  margin-bottom: 16px;
}

/* Information */

.category h3 {
  margin-bottom: 32px;
  white-space: nowrap;
}

.category p {
  font-size: 18px;
  margin-bottom: 16px;
  white-space: nowrap;
}

.detail-img img {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.detail-text {
  margin-bottom: 24px;
}

.detail-heading {
  margin-bottom: 24px;
}

/* Voice */

.voice-list-inner {
  width: 868px;
  margin-left: 152px;
}

.voice-list-item {
  display: flex;
}

.voice-list-img {
  width: 180px;
  margin-right: 48px;
}

.user-name {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 24px;
}

/* Contact */

.contact-inner {
  width: 752px;
  margin-top: 32px;
  margin-left: 152px;
}

.contact-tel {
  margin-bottom: 24px;
}

.contact-tel h3 {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 13px;
}

.contact-tel h3 span {
  font-size: 16px;
}

.contact-tel p {
  margin-bottom: 22px;
}

.contact-form {
  margin-bottom: 24px;
}

.contact-form h3 {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 24px;
}

.contact-form p {
  font-size: 18px;
}

.form-area {
  width: 100%;
  margin-bottom: 48px;
}

.contact-heading {
  font-weight: bold;
  margin-bottom: 16px;
}

.input {
  width: 100%;
}

.input-area {
  width: 100%;
  height: 44px;
  border: 1px solid #808080;
  display: flex;
  padding: 10px;
}

select {
  width: 100%;
  padding-left: 10px;
}

.contact-textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #808080;
  padding: 10px;
}

.send-btn {
  display: block;
  margin: 0 auto;
}

/*----------------------------
スマホ
-----------------------------*/

/* spメニュー */

#menu-sp {
  position: absolute;
  top: 20px;
  right: 18px;
  z-index: 10;
  cursor: pointer;
}

#nav-sp {
  width: 320px;
  background: #fff;
  opacity: 0.9;
  position: absolute;
  right: 0;
  z-index: 10;
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

#nav-sp.open {
  display: block;
  transform: translateX(0);
}

.nav-sp-header {
  display: flex;
  padding: 20px 16px;
  gap: 25%;
  align-items: center;
}

.nav-sp-list-inner {
  padding: 0 32px;
}

#close {
  cursor: pointer;
}

.nav-sp-list-inner h3 {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 16px;
}

.nav-sp-list-inner li {
  margin-bottom: 32px;
}

@media (min-width: 1041px) {
  #menu-sp {
    display: none;
  }

  #nav-sp {
    display: none;
  }
}

@media (max-width: 1040px) {
  .header-nav {
    display: none;
  }
/*
  .header-logo {
    display: none;
  } */


}
