@charset "utf-8";

/*----------------------------
Common
-----------------------------*/

img {
  max-width: 100%;
}

h1 {
  font-size: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#page-top {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 10;
}

.btn {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  padding: 3px 24px;
  border: 1px solid #000;
  border-radius: 5px;
}


.section-title {
  text-align: center;
  margin: 0 auto;
  color: #468459;
  width: 400px;
}

.section-title span {
  padding: 0 18px;
}

.title-header {
  margin-bottom: 20px;
}

.top-carousel-sp {
  display: none;
}

@media (max-width: 767px) {
  .section-title {
    width: 100%;
  }
}

/*----------------------------
Header
-----------------------------*/

#header {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.header-logo {
  width: 240px;
  flex-shrink: 0;
}

.logo-sp {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  font-size: 14px;
  margin-left: 40px;
  color: white;
  white-space: nowrap;
}

.nav-btn {
  display: flex;
  align-items: center;
  padding: 2px 16px;
  background-color: #0c4324;
  border-radius: 4px;
  width: 172px;
  height: 44px;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 1040px) {
  .header-nav {
    display: none;
  }
}

@media (max-width: 767px) {

  .logo-pc {
    display: none;
  }

  .logo-sp {
    display: block;
  }

  .header-logo {
    width: 240px;
    flex-shrink: 0;
    margin-left: 16px;
  }

  .logo-pc {
    display: none;
  }

  .logo-sp {
    display: block;
  }
}


/*----------------------------
Main Visual
-----------------------------*/

main {
  overflow: hidden;
}

.main-visual {
  width: 100%;
  display: flex;
  margin-bottom: 18px;
  position: relative;
}

.top-text {
  display: flex;
  width: 18%;
  writing-mode: vertical-rl;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #468459;
  letter-spacing: 15px;
  font-family: "Shippori Mincho";
  height: auto;
  white-space: nowrap;
  margin-left: 43px;
  margin-right: 25px;
}

.top-text::before {
  content: "";
  display: inline-block;
  width: 146px;
  height: 133px;
  background-image: url('images/top/backgroundimage3.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: 95px;
  left: 20px;
}

.top-text::after {
  content: "";
  display: inline-block;
  width: 122px;
  height: 111px;
  background-image: url('images/top/backgroundimage2.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: -120px;
  right: 30px;
  transform: rotate(-20deg);
}

.line {
  position: relative;
  display: inline-block;
  padding-right: 2px;
  margin-right: 4px;
}

.line::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(#468459 50%, transparent 50%);
  background-size: 60px 20px;
  background-repeat: repeat-y;
  transform: translateY(-50%);
}

.top-carousel {
  width: 80%;
  height: 584px;
  position: relative;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 584px;
}

.top-carousel img {
  width: 100%;
  height: 100%;
}

.top-carousel::before {
  content: "";
  display: inline-block;
  width: 719px;
  height: 580px;
  background-image: url("images/top/_x31_3.png");
  background-size: cover;
  position: absolute;
  top: -40px;
  left: -32px;
  transform: rotate(10deg);
  z-index: -1;
}

.progress-bar {
  width: 90px;
  height: 6px;
  background: #fff;
  position: absolute;
  bottom: 70px;
  right: 35px;
  border-radius: 4px;
  z-index: 1;
}

.progress-bar .bar {
  width: 0%;
  height: 6px;
  background: #468459;
  border-radius: 4px;
}

/* オーバーレイのスタイル */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

/* メニューが開いた際のオーバーレイの表示 */
#nav-sp.open ~ #overlay {
  display: block;
}

@media (max-width: 767px) {

  .top-text {
    font-size: 22.4px;
    z-index: 10;
    margin-right: 0;
  }


  .top-text::before {
    width: 131px;
    height: 111px;
    background-image: url('images/top-sp/_x31_7\ \(1\).png');
    top: 90px;
    left: 20px;
  }

  .top-carousel {
    display: none;
  }

  .top-carousel-sp {
    display: block;
    width: 100%;
    height: 464px;
    position: relative;
  }


  .top-carousel-sp-item {
    width: 100%;
    height: 464px;
    position: relative;
  }

  .top-carousel-sp img {
    width: 100%;
    height: 464px;
    object-fit: cover;
  }

  .top-carousel-sp::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 464px;
    background-image: url("images/top-img-sp/_x31_3\ \(2\).png");
    background-size: cover;
    position: absolute;
    top: -120px;
    left: -25px;
    transform: rotate(2deg);
  }

  .progress-bar {
    width: 48px;
    bottom: 110px;
    right: 20px;
  }
}

/*----------------------------
 Information
-----------------------------*/

#information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.news {
  display: flex;
  margin-right: 45px;
  align-items: flex-end;
  white-space: nowrap;
}

.news-title {
  font-size: 24px;
  font-weight: bold;
  color: #468459;
  margin-right: 10px;
  line-height: 1;
  vertical-align: bottom;
}

.news-item {
  line-height: 1;
  font-size: 14px;
  color: #468459;
  vertical-align: bottom;
}

.news-box {
  display: flex;
  align-items: baseline;
}

.business-hours {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  font-size: 14px;
  margin-right: 45px;
}

.date {
  line-height: 1;
  font-size: 14px;
  margin-right: 16px;
  vertical-align: bottom;
}

.date-btn {
  background-color: #468459;
  color: #fff;
  border-radius: 4px;
  padding: 4px 12px;
  line-height: 1;
  font-size: 14px;
  vertical-align: bottom;
  margin-right: 28px;
}

.info-text {
  line-height: 1;
  font-size: 14px;
  margin-right: 16px;
  vertical-align: bottom;
}

.info-list {
  font-size: 14px;
  line-height: 1;
  vertical-align: bottom;
  margin-left: auto;
  white-space: nowrap;
}

@media (max-width: 767px) {
  #information {
    flex-direction: column;
    margin: 18px 16px;
  }

  .info {
    width: 100%;
    display: block;
  }

  .news {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .business-hours {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .info-list {
    text-align: right;
    margin-right: 23px;
  }

  .date {
    margin-bottom: 4px;
  }
}

/*----------------------------
Concept
-----------------------------*/

#concept {
  width: 100%;
  position: relative;
}

.container {
  width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 120px 0;
}

.container-left {
  width: 45%;
}

.container-left h2 {
  color: #468459;
  font-size: 24px;
}

.ja {
  font-weight: normal;
}

.container-left h3 {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 38px;
  color: #468459;
  line-height: 1.6;
}

#concept::before {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/Title.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 201px;
  left: 125px;
}

.container-left p {
  margin-bottom: 16px;
}

.c-btn {
  width: 154.25px;
  height: 32px;
  margin-left: 149px;
  margin-top: 24px;
}

.container-right {
  width: 50%;
  position: relative;
}

.concept-img {
  width: 400px;
  height: 507px;
  margin: 61px 0;
}

#concept::after {
  content: "";
  display: inline-block;
  width: 440px;
  height: 336px;
  background-image: url('images/BGicon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 24px;
  z-index: -1;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 64px 5%;
    gap: 0;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .container-right {
    width: 100%;
    margin-bottom: 32px;
  }

  .concept-img {
    margin: 0;
  }

  .container-left {
    width: 100%;
  }


  #concept::before {
    width: 285px;
    height: 72px;
    top: 700px;
    left: 0;
  }

  #concept::after {
    width: 320px;
    height: 244px;
    right: 0;
    bottom: 24px;
  }

  .concept-img {
    width: 100%;
    height: auto;
  }

  .c-btn {
    display: block;
    margin: 33px auto 0 auto;
  }
}

/*----------------------------
Course
-----------------------------*/

#course {
  padding-bottom: 167px;
  background: #f0f5e1;
  position: relative;
  z-index: -2;
}

#course::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 140px;
  background-image: url('images/Frame\ 2564.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#course::after {
  content: "";
  display: inline-block;
  width: 440px;
  height: 336px;
  background-image: url('images/BGicon\ \(2\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: -1;
}

.course-img {
  border-radius: 15px;
  margin-bottom: 32px;
}

.course-btn {
  text-align: center;
}

.insurance::before {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/Title\ \(2\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 225px;
  left: 115px;
  z-index: -1;
}

.insurance h4,
.self h4 {
  font-size: 24px;
  margin-bottom: 24px;
  color: #0c4324;
}

.insurance li,
.self li {
  font-size: 18px;
  margin-bottom: 14px;
  margin-left: 18px;
}

.self {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  #course {
    padding-bottom: 59px;
  }

  .course img {
    margin-bottom: 32px;
  }

  .column {
    flex-direction: column;
  }

  .insurance ul {
    margin-bottom: 40px;
  }
}

/*----------------------------
Voice
-----------------------------*/

#voice {
  position: relative;
}

.semicircle {
  position: relative;
}

.semicircle::before {
  content: "";
  display: inline-block;
  width: 515px;
  height: 119px;
  background-image: url('images/Subtract.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -119px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.voice-title {
  position: absolute;
  left: 50%;
  top: -59px;
  transform: translateX(-50%);
  z-index: 1;
}

.user {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 140px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.user-box h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.user-box p {
  font-size: 18px;
}

.circle {
  border-radius: 50%;
  margin-bottom: 32px;
}

.voice-btn {
  text-align: center;
}

.bottom-carousel-sp {
  display: none;
}

@media (max-width: 767px) {
  #voice {
    width: 100%;
  }

  .voice-title {
    top: -35px;
  }

  .semicircle::before {
    width: 309px;
    height: 70px;
    top: -70px;
    left: 50%;
  }

  .bottom-carousel {
    display: none;
  }

  .bottom-carousel-sp {
    display: block;
  }

  .bottom-carousel-sp img {
    width: 100%;
  }

  .user {
    flex-direction: column;
    max-width: 100%;
    gap: 48px;
  }

  .user-box {
    width: 100%;
  }
}

/*----------------------------
Access
-----------------------------*/

#access {
  background: #f0f5e1;
}

#access::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 140px;
  background-color: red;
  background-image: url('images/Frame\ 2564.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.access {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  gap: 5%;
}

.access-left,
.access-right {
  width: 50%;
}

.access iframe {
  width: 100%;
}


.access-left h2 {
  font-size: 24px;
  color: #468459;
  margin-bottom: 16px;
}

.access-left ul {
  margin-bottom: 16px;
}

.tel span {
  font-size: 14px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 24px;
}

.opening-hours {
  width: auto;
  border-collapse: collapse;
  white-space: nowrap;
  border: 1px solid #dddddd;
  margin-bottom: 32px;
}

table th {
  font-size: 14px;
  font-weight: normal;
  padding: 8px 16px;
  background: #468459;
  color: #fff;
  border: 1px solid #dddddd;
}

table td {
  font-size: 14px;
  text-align: center;
  padding: 8px 16px;
  color: #468459;
  border: 1px solid #dddddd;

}

.evening {
  background: #f5f5f5;
}

.contact {
  padding: 14px 22px;
  background: #468459;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .access {
    flex-direction: column;
  }

  .access-left {
    width: 100%;
    margin-bottom: 40px;
  }

  .access-right {
    width: 100%;
  }

  .contact {
    width: 76%;
  }
}

/*----------------------------
Footer
-----------------------------*/

#footer {
  width: 100%;
  background: #f0f5e1;
}

.footer-logo {
  width: 240px;
  flex-shrink: 0;
  margin-right: 47px;
}

.footer-inner {
  display: flex;
  max-width: 75%;
  height: 36px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}

.footer-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list li {
  font-size: 16px;
  margin-right: 26px;
  white-space: nowrap;
  line-height: 1;
  vertical-align: baseline;
}

.copyright {
  height: 40px;
  background: #468459;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 11px 0;
}

@media (max-width: 1040px) {
  .footer-inner {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
  }

  .footer-logo {
    margin-bottom: 40px;
  }

  .footer-list {
    flex-direction: column;
  }

  .footer-list li {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .footer-inner {
    flex-direction: column;
    height: auto;
  }

  .footer-logo {
    margin-bottom: 40px;
  }

  .footer-list {
    flex-direction: column;
  }

  .footer-list li {
    margin-bottom: 32px;
  }
}







/*----------------------------
 下層ページ
-----------------------------*/

 /* common */

.subpage #header {
  position: static;
}

.subpage .nav-list li {
  color: #468459;
}

.subpage .nav-btn a {
  color: #fff;
}

@media (max-width: 767px) {
  .main-visual {
    width: 100%;
  }

  .main-img {
    display: none;
  }

  .main-img-sp {
    display: block;
    width: 100%;
  }

  .main-img-sp img {
    width: 100%;
  }

  /* 共通 */
  #information {
    margin: 0 5%;
    width: 100%;
  }

  .information {
    margin: 0 5%;
    width: 100%;
    padding: 0 5%;
  }

  #home {
    margin-right: auto;

  }
}

/* Main visual */

.nav-item a {
  color: rgba(70, 132, 89, 1);
}

.main-img-sp {
  display: none;
}

.about-title {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-title h3 {
  font-size: 32px;
  color: #468459;
}

.about-title h3::before {
  content: "";
  display: inline-block;
  width: 146px;
  height: 133px;
  background-image: url('images/about/_x31_7.png');
  background-position: center;
  background-size: contain;
  position: relative;
  top: 120px;
  left: -10px;
  z-index: -1;
}

.about-title p {
  font-size: 18px;
  color: #468459;
}

.subpage-visual {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.about-img::before {
  content: "";
  display: contents;
  width: 719px;
  height: 467px;
  background-image: url("images/about/_x31_3\ \(1\).png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* パンくずリスト */

.breadrum {
  width: 100%;
  height: 64px;
  align-items: center;
}

.page-map {
  display: flex;
  gap: 3px;
  margin-left: 12%;
  font-size: 14px;
}

@media (max-width: 767px) {
  .page-map {
    margin-left: 5%;
  }

  #topic {
    padding: 0 5%;
  }

  .topic-left {
    padding: 0;
  }

  .news-navigation {
    margin: 0 auto 32px auto;
  }
}

/*----------------------------
 about.html
-----------------------------*/

#flow {
  position: relative;
}

#flow::after {
  content: "";
  display: inline-block;
  width: 530px;
  height: 134px;
  background-image: url('images/about/Title-flow.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 201px;
  left: 125px;
}

.flow {
  margin-top: 108px;
}

.flow li {
  margin-bottom: 22px;
}

.flow-right::after {
  content: "";
  display: inline-block;
  width: 426px;
  height: 319px;
  background-image: url('images/BGicon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -180px;
  bottom: -26px;
  z-index: -1;
}

.point-title {
  width: 680px;
}

.point {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 64px;
  margin-bottom: 15px;
  margin-left: 8.75%;
  margin-right: 8.75%;
}


.point-img {
  border-radius: 16px;
  margin-bottom: 32px;
}

.point-content {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {

  .flow {
    margin-top: 32px;
  }

  #flow::after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 72px;
    background-image: url('images/about/Title-flow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 440px;
    left: -24px;
  }

  .flow-left {
    margin-left: 5%;
  }

  .flow-right::after {
    content: "";
    display: inline-block;
    width: 320px;
    height: 244px;
    background-image: url('images/BGicon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -26px;
    z-index: -1;
  }

  .point-title {
    width: 100%;
    justify-content: center;
    padding: 0 5%;
  }

  .title-header {
    font-size: 18px;
    width: 100%;
  }

  .title-header span img {
    width: 14px;
    height: 16px;
  }

  .title-text {
    font-size: 18px;
    margin-bottom: 32px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .user-box {
    margin-bottom: 48px;
  }

  .point {
    flex-direction: column;
    margin: 0 5% 0 5%;
  }

  .point-img {
    width: 100%;
  }

  .point-content {
    font-size: 18px;
    font-weight: bold;
  }

}

/*----------------------------
 course.html
-----------------------------*/

#price {
  position: relative;
  z-index: -2;
  background: #fafafa;
}

.price-title {
  padding: 62px 0;
}


.price-container {
  width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.insurance-title {
  margin-bottom: 32px;
}

.insurance-content {
  margin-bottom: 32px;
}

.insurance-content li {
  margin-bottom: 17px;
}

.insurance-img {
  width: 520px;
  height: 320px;
}

@media (max-width: 767px) {
  #price {
    width: 100%;
  }

  .price-container {
    flex-direction: column;
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
  }

  .insurance {
    width: 100%;
  }

  .insurance img {
    width: 100%;
  }

  #insurance {
    width: 100%;
  }

  .insurance-item {
    padding: 0 5%;
  }

  .pc-only {
    display: none;
  }

  .insurance-img {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
  }

  .insurance-img img {
    width: 100%;
  }
}

/*----------------------------
 news.html
-----------------------------*/

#topic {
  padding: 0 12%;
}

.topic-container {
  max-width: 976px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  margin: 0 auto 60px auto;
  padding-top: 32px;
}

.topic-left {
  width: calc(752px - 32px);
}

.topic-right {
  width: 160px;
}

.topic-item {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

.topic-item:last-child {
  margin-bottom: 0;
}

.topic-img {
  width: 320px;
  height: 200px;
}

.topic-img img {
  border-radius: 8px;
}

.topic-content {
  width: 368px;
  margin-bottom: 24px;
}

.topic-content h3 {
  margin-bottom: 16px;
}

.pagination {
  text-align: center;
  margin-bottom: 193px;
}

.page-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #468459;
}

.current-page {
  background: #468459;
  color: #fff;
}

.news-navigation {
  display: flex;
  margin: 0 auto 120px auto;
  width: calc(752px - 32px);
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.news-navigation a {
  display: flex;
  align-items: center;
  /* 上下中央揃え */
  text-decoration: none;
}

.arrow {
  font-size: 14px;
  padding: 0 5.5px;
}

@media (nax-width: 767px) {
  .topic-container {
    flex-direction: column;
    gap: 0;
  }

  .topic-left {
    width: 100%;
    padding: 40px 5% 0;
  }

  .topic-item {
    flex-direction: column;
    gap: 0;
    margin-bottom: 32px;
  }

  .topic-img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }

  .topic-content {
    width: 100%;
    margin-bottom: 0;
  }

  .topic-content h3 {
    width: 100%;
    font-size: 18px;
  }

  .topic-right {
    padding: 0 5%;
  }

}

/*----------------------------
 news-detail.html
-----------------------------*/

.category h3 {
  margin-bottom: 32px;
  white-space: nowrap;
}

.category p {
  font-size: 18px;
  margin-bottom: 16px;
  white-space: nowrap;
}

.detail-img img {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.detail-text {
  margin-bottom: 24px;
}

.detail-heading {
  margin-bottom: 24px;
}

/*----------------------------
 voice.html
-----------------------------*/

.voice-list-inner {
  width: 868px;
  margin-left: 152px;
  padding: 64px 0;
}

.voice-list-item {
  display: flex;
}

.voice-list-img {
  width: 180px;
  margin-right: 48px;
}

.user-name {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .voice-list-inner {
    width: 100%;
    margin-left: 0;
  }

  .voice-list-item {
    flex-direction: column;
    width: 100%;
    margin-bottom: 48px;
  }

  .voice-list-inner-left {
    width: 100%;
    padding: 0 5%;
  }

  .voice-list-img {
    width: 215px;
    margin: 0 auto;
  }

  .user-name {
    text-align: center;
  }

  .user-coment {
    word-break: auto-phrase;
  }

  .voice-list-inner-right {
    width: 100%;
    padding: 0 5%;
  }
}

/*----------------------------
 contact.html
-----------------------------*/

.contact-inner {
  width: 752px;
  margin-top: 32px;
  margin-left: 152px;
}

.contact-tel {
  margin-bottom: 24px;
}

.contact-tel h3 {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 13px;
}

.contact-tel h3 span {
  font-size: 16px;
}

.contact-tel p {
  margin-bottom: 22px;
}

.contact-form {
  margin-bottom: 24px;
}

.contact-form h3 {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 24px;
}

.contact-form p {
  font-size: 18px;
}

.form-area {
  width: 100%;
  margin-bottom: 48px;
}

.contact-heading {
  font-weight: bold;
  margin-bottom: 16px;
}

.input {
  width: 100%;
}

.input-area {
  width: 100%;
  height: 44px;
  border: 1px solid #808080;
  display: flex;
  padding: 10px;
}

select {
  width: 100%;
  padding-left: 10px;
}

option {
  padding-right: 20px;
}

.contact-textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #808080;
  padding: 10px;
}

.send-btn {
  display: block;
  margin: 0 auto;
}

::placeholder {
  color: #aaa;
}

.worries {
  position: relative;
}

.worries::after {
  content: "";
  position: absolute;
  top: 55px;
  right: 16px;
  width: 12px;
  height: 12px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(45deg);
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  color: #0000005C;
}

@media (max-width: 767px) {
  #contact {
    width: 100%;
  }

  .contact-inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
  }
}

/*----------------------------
 contact-thanks.html
-----------------------------*/

#contact-thanks {
  width: 100%;
}

.contact-thanks-inner {
  width: 752px;
  border: 1px solid rgba(204, 204, 204, 1);
  text-align: center;
  margin: 32px auto 162px auto;
  padding: 62px 170px;
}

.thanks-text {
  width: 100%;
}

.thanks-text h3 {
  width: 100%;
  font-size: 24px;
  color: rgba(12, 67, 36, 1);
  margin-bottom: 24px;
}

.thanks-text P {
  width: 100%;
  margin-bottom: 32px;
}

@media (max-width:767px) {

  #contact-thanks {
    padding: 0 5%;
  }

  .contact-thanks-inner {
    width: 100%;
    padding: 16px;
    margin: 32px auto 64px auto;
  }

  .thanks-text {
    word-break: auto-phrase;
  }
}

/* SP用メニューボタン */

#menu-sp {
  /* position: absolute; */
  position: fixed;
  top: 20px;
  right: 18px;
  z-index: 10;
  cursor: pointer;
}

#nav-sp {
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

#nav-sp.open {
  display: block;
  transform: translateX(0);
}

.nav-sp-header {
  display: flex;
  padding: 20px 16px;
  gap: 25%;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.nav-sp-list-inner {
  padding: 0 32px;
}

#close {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.nav-sp-list-inner h3 {
  font-size: 24px;
  color: #0c4324;
  margin-bottom: 16px;
}

.nav-sp-list-inner li {
  margin-bottom: 32px;
}

@media (min-width: 1041px) {
  #menu-sp {
    display: none;
  }

  #nav-sp {
    display: none;
  }
}
